.artist-header {
  font-family: Lato;
  font-weight: bold;
  font-size: 68px;
  border-bottom: 2px solid #1db954;
  margin-top: 32px;
  margin-bottom: 16px;
}

.artist-bar {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 36px;
  font-family: Lato;
  font-weight: bold;
  color: white;
  height: 20vh;
  border-radius: 20px;
  transition: 0.5s ease-in-out;

  &:hover {
    height: 700px;
    transition: 0.5s ease-in-out;
    border-radius: 0;
  }

  .todo {
    background-color: #1db954;
    padding: 64px;
    outline: none;
  }

  .artist-position {
    background-color: #1db954;
    text-align: center;
    font-size: 64px;
    -webkit-box-shadow: 5px 5px 37px 5px rgba(0, 0, 0, 0.49);
    box-shadow: 5px 5px 37px 5px rgba(0, 0, 0, 0.49);
  }

  .artist-information {
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    -webkit-box-shadow: 5px 5px 37px 5px rgba(0, 0, 0, 0.49);
    box-shadow: 5px 5px 37px 5px rgba(0, 0, 0, 0.49);

    @media screen and (max-width: 768px) {
      background-position-y: -25vh;
    }
  }
}

.track-box {
  width: 300px;
  height: 200px;
  -webkit-box-shadow: 5px 5px 37px 5px rgba(0, 0, 0, 0.49);
  box-shadow: 5px 5px 37px 5px rgba(0, 0, 0, 0.49);
  margin: 16px;

  .track-information {
    font-size: 32px;
    text-align: center;
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  }
}

.body-container {
  max-width: 1200px;
  margin: 0 auto;
}
