<div class="container" role="main">
    <!-- <h1>Music Visulation</h1>
    <h2>Visulation your music tastes!</h2>
    <button type="button" (click)="loginToSpotify()">Login to Spotify</button>

    <p>A Spike Lee Joint</p> -->
    <div class="row">
        <div class="col-6">
            <div class="white-box">
                <img src="../../assets/img/stats.png" />
                <h1>Statify</h1>
            </div>
            <div class="white-box">
                <p></p>
            </div>
        </div>
    </div>

</div>